h1 {
    font-family: "Arial";
    color: white;
    text-align: center;
}

.app-container {
    border-radius: 20px;
    background: slategray;
    padding: 20px;
    width: 800px;
    height: 600px;
}